{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

	<h1 class="page-header">Welcome to Code Assistant!</h1>

	Code Assistant is a Whatsapp Artificial Intelligence ChatBot to support learning of computer programming for DCU students.

	<br><br>
	
	<strong>Note:</strong><br>
	<ul>
		<li>You can interact with the assistant and find out how your are progressing on the module, recommended material and short snippets of code.</li>
		<li>Your phone number will be completely <strong>deleted</strong> from our system at the end of the semester.</li>
		<li>You can <strong>opt-out</strong> at anytime.</li>
		<li>Students that previously <strong>engaged</strong> with this type of notifications improved between 4% and 9% with respect to students that did not engage and students from previous years.</li>
	</ul>

	<strong>Technologies:</strong><br>
	<ul>
		<li>MongoDB</li>
		<li>Docker</li>
		<li>Python</li>
		<li>Flask</li>
		<li>WhatsApp Wrapper API</li>
		<li>Selenium</li>
		<li>Github & gists</li>
		<li>Google's Phone Validator</li>
	</ul>

	The project is developed and run by David Azcona & Enric Moreu at the Insight Centre for Data Analytics in Dublin City University. 

	<br><br>

	Check out our Privacy Policy <a href="/privacy">here</a>.

{% endblock %}