{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

	<h1 class="page-header">Welcome to Code Assistant!</h1>

	Code Assistant is a Whatsapp Artificial Intelligence ChatBot to support learning of computer programming for DCU students.

	<br><br>
	
	<strong>Note:</strong><br>
	<ul>
		<li>You can interact with the assistant and find out how your are progressing on the module, recommended material and short snippets of code.</li>
		<li>Your phone number will be completely <strong>deleted</strong> from our system at the end of the semester.</li>
		<li>You can <strong>opt-out</strong> at anytime.</li>
	</ul>

	Check out our Privacy Policy <a href="/privacy">here</a>.

{% endblock %}