<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
        <p>
        Dear student,
        <br><br>
        Join DCU's Coding Revolution and interact with our official Whatsapp Artificial Intelligence Bot. 
        <br><br>
        Code Assistant is a Whatsapp Artificial Intelligence ChatBot to support learning of computer programming for DCU students.
        <br><br>
        <strong>Note:</strong><br>
        <ul>
            <li>You can interact with the assistant and find out how your are progressing on the module, recommended material and short snippets of code.</li>
            <li>Your phone number will be completely <strong>deleted</strong> from our system at the end of the semester.</li>
            <li>You can <strong>opt-out</strong> at anytime.</li>
        </ul>
        <a href="http://predictcs.computing.dcu.ie/join/{{ token }}" target="_top"><strong>Sign up here!</strong></a>
        <br><br>
        Best regards,
        <br><br>
        David Azcona<br>
        Insight Centre for Data Analytics<br>
        Dublin City University<br>
        <a href="mailto:predictcs@computing.dcu.ie" target="_top">PredictCS@computing.dcu.ie</a>
        </p>
    </body>
</html>