{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <h1 class="page-header">Privacy Policy</h1>
    
    <h2>Code Assistant</h2>

    <p>
        Conversations with CoderBot are not shared with any company or service. We will never sell or give away your personal data or conversation history. 
        This is a research project and your information is solely used for research purposes. Your phone will be deleted from our systems at the end of the semester.
    </p>

    <h2>Consent</h2>

    By using the Services, you consent to the use of your Personal Information as described in this Privacy Policy. 
    Except as set forth in this Privacy Policy, your Personal Information will not be used for any other purpose without your consent. 
    We do not actively collect Personal Information for the purpose of sale of such information in a way that specifically identifies the individual 
    (i.e. we don’t sell customer information). You may withdraw your consent to our processing of your Personal Information at any time. 
    However, withdrawing consent may result in your inability to continue using some or all of the Services.
    
    <h2>Contact Us</h2>
    
    Do not hesitate to contact us at <a href="mailto:predictcs@computing.dcu.ie" target="_top">predictcs@computing.dcu.ie</a>

{% endblock %}