{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

    <h1 class="page-header">Privacy Policy</h1>
    
    <h2>CoderBot</h2>

    <p>
        Conversations with CoderBot are not shared with any company or service. We will never sell or give away your personal data or conversation history.
    </p>

    <h2>Whatsapp App</h2>

    ....


    <h2>Facebook Messenger</h2>

    ... https://www.facebook.com/privacy/explanation

    <h2>1. Consent</h2>

    ...

    <h2>2. Collection of Information</h2>

    ...

    <h2>3. Use of Information</h2>

    <h2>4. Disclosures & Transfers.</h2>

    <h2>5. Important Exceptions</h2>

    <h2>6. Security</h2>

    <h2>7. Sharing Information with Third Parties</h2>

    <h2>8. Retention</h2>

    <h2>9. Amendment of this Privacy Policy</h2>

    <h2>10. Access and Portability</h2>
    
    <h2>11. Contact Us</h2>    

{% endblock %}